@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');

        *{margin: 0;padding: 0;}
        ::selection,::-moz-selection{background: #fff;color: #000;}
        body{margin: 0;padding: 0;display: border-box;background: #fff;background-blend-mode: multiply;}

        .header{background: #24292e;border-bottom: 3px solid #f1f2f6;}
        .brand{margin-right: 92px;}
        .brand a{font-family: 'Spicy Rice', cursive;font-size: 40px;-webkit-text-fill-color: #636e72;-webkit-text-stroke-width: 2px;-webkit-text-stroke-color: #fff;}
        .brand span{}
        .nav-toggler{}
        .nav-toggler i{color: #000;}
        .nav-toggler:hover i{color: #000;}
        .drpdwn{height: auto;width: 200px;text-align: left;font-family: 'Spicy Rice', cursive;}
        
        .drpdwn-menu{height: auto;width: 200px;margin-top: 10px;background: #ecf0f1;z-index: 2;border: 1px solid #000;}
        .drpdwn-menu  a{color: #000;font-family: 'Spicy Rice', cursive;}
        .drpdwn-menu:after{content: '';display: block;height: 15px;width: 15px;background: #ecf0f1;top: -112px;left: 13px;transform: rotate(45deg);position: relative;border: 1px 0 0 1px solid #000;}
        .drpdwn-menu a.active{background: #ced6e0;color: #fff;color: #000;}

        .user_auth{display: flex;justify-content: flex-end;align-content: flex-end;align-items: flex-end;align-self: right;}
        .user_auth a{font-family: 'Spicy Rice',cursive;font-size: 20px;text-decoration: none;color: #fff;}
        .user_auth button{height: auto;width: auto;border: 2px solid #f1f2f6;text-align: right;font-family: 'Spicy Rice', cursive;}
        .user_auth .dropdwn-menu{height: auto;width: auto;margin-top: 10px;z-index: 2;left: -50px;border: 1px solid #000;background: #ecf0f1;}
        .user_auth .dropdown-header{color: #000;font-family: 'Lobster', cursive;font-size: 18px;border-bottom: 2px solid #000;}
        .user_auth .dropdwn-menu  a{color: #565656;font-family: 'Spicy Rice', cursive;}
        .user_auth .dropdwn-menu  a:hover{color: #565656;font-family: 'Spicy Rice', cursive;}
        .user_auth .dropdwn-menu:after{content: '';display: block;height: 15px;width: 15px;background: #ecf0f1;top: -88px;left: 137px;transform: rotate(45deg);position: relative;z-index: 3;}

.register{position: relative;height:auto;width: auto;top: 60px;left: ;background: #ced6e0;padding: 10px;border-radius: 15px}
.register h1{color: #fff;font-family: 'Ubuntu', sans-serif;font-size: 35px;text-align: center;margin-top: 20px;}
.register form{outline: none;margin-top: 50px;}
.register input[type='text'],.register input[type='email'],.register input[type='password']{position: relative;width: 305px;height: 40px;margin: 5px;font-family: 'Dosis', sans-serif;padding-left: 5px;font-size: 20px;}

.register .input-text{position: relative;top: ;left: 10px;font-family: 'Ubuntu', sans-serif;display: block;width: 180px;text-align: center;transition: .5s;color: #fff;transition: .5s;}
.register .submit{margin: 5px;width: 250px;height: 50px;line-height: 15px;background: #8e44ad;font-family: 'Ubuntu', sans-serif;font-size: 24px;color: #fff;}
.register a{text-decoration: none;font-family: 'Lobster', cursive;display: block; margin-top: -18px;margin-left: 140px;}

.register input:focus ~ span.input-text{font-size: 14px;background: #fff;color: #000;}
.register input:focus{}
.register .eye-pass{position: absolute;left: 300px;top: 40px;}
.focus .input-text{background: #fff;color: #000;}
.focus .eye-pass{position: absolute;left: 300px;top: 43px;}



.block-2 h1{position: relative;left: -200px;}
.block-2 a{text-decoration: none;color: #fff;font-family: 'Ubuntu',sans-serif;}

/* Hide the default checkbox */
.register input[type=checkbox] {position: absolute;top: 30px;left: 90px;height: 30px;width: 30px;visibility: ;z-index: 1;opacity: 0;}

/* Creating a custom checkbox
based on demand */
.register .checkmark {position: absolute;top: 30px;left: 90px;height: 30px;width: 30px;background-color: #fff;border-radius: 5px;}

/* Specify the background color to be shown when hovering over checkbox
.register:hover input ~ .checkmark {background-color: yellow;} */

/* Specify the background color to be shown when checkbox is active */
.register input[type=checkbox]:active ~ .checkmark {background-color: red;}

/* Specify the background color to be shown when checkbox is checked */
.register input[type=checkbox]:checked ~ .checkmark {background-color: #27ae60;}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.checkmark:after {content: "";position: absolute;display: none;}

/* Display checkmark when checked */
.register input[type=checkbox]:checked ~ .checkmark:after {display: block;}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and  showing only two border to make it look like a tickmark */
.register .checkmark:after {left: 8px;bottom: 5px;width: 6px;height: 12px;border: solid white;border-width: 0 4px 4px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

/* changing div.register color when checkbox is checked */
.color .register{background: ;}