@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');

        *{margin: 0;padding: 0;}
        ::selection,::-moz-selection{background: #f1f2f6;color: #8e44ad;}
        body{margin: 0;padding: 0;display: border-box;background: #fff;background-blend-mode: multiply;}

        .header{background: #24292e;border-bottom: 3px solid #f1f2f6;}
        .brand{margin-right: 92px;}
        .brand a{font-family: 'Spicy Rice', cursive;font-size: 40px;-webkit-text-fill-color: #636e72;-webkit-text-stroke-width: 2px;-webkit-text-stroke-color: #fff;}
        .brand span{}
        .nav-toggler{}
        .nav-toggler i{color: #000;}
        .nav-toggler:hover i{color: #000;}
        .drpdwn{height: auto;width: 200px;text-align: left;font-family: 'Spicy Rice', cursive;}
        
        .drpdwn-menu{height: auto;width: 200px;margin-top: 10px;background: #ecf0f1;z-index: 2;border: 1px solid #000;}
        .drpdwn-menu  a{color: #000;font-family: 'Spicy Rice', cursive;}
        .drpdwn-menu:after{content: '';display: block;height: 15px;width: 15px;background: #ecf0f1;top: -112px;left: 13px;transform: rotate(45deg);position: relative;border: 1px 0 0 1px solid #000;}
        .drpdwn-menu a.active{background: #ced6e0;color: #fff;color: #000;}

        .user_auth{display: flex;justify-content: flex-end;align-content: flex-end;align-items: flex-end;align-self: right;}
        .user_auth a{font-family: 'Spicy Rice',cursive;font-size: 20px;}
        .user_auth button{height: auto;width: auto;border: 2px solid #f1f2f6;text-align: right;font-family: 'Spicy Rice', cursive;}
        .user_auth .dropdwn-menu{height: auto;width: auto;margin-top: 10px;z-index: 2;left: -50px;border: 1px solid #000;background: #ecf0f1;}
        .user_auth .dropdown-header{color: #000;font-family: 'Lobster', cursive;font-size: 18px;border-bottom: 2px solid #000;}
        .user_auth .dropdwn-menu  a{color: #565656;font-family: 'Spicy Rice', cursive;}
        .user_auth .dropdwn-menu  a:hover{color: #565656;font-family: 'Spicy Rice', cursive;}
        .user_auth .dropdwn-menu:after{content: '';display: block;height: 15px;width: 15px;background: #ecf0f1;top: -88px;left: 137px;transform: rotate(45deg);position: relative;z-index: 3;}