{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>QuizHub Authentication</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/36e6971a0e.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'usr_auth/css/registerPage.css' %}">
  
</head>
<body>

<!-- Navbar -->
  <nav class="navbar navbar-expand-lg justify-content-between header">
    <!-- Brand -->
    <div class=" brand">
      <h1><a class="navbar-brand" href="{% url 'index' %}" >Quiz <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
<span>Hub</span></a></h1>
    </div>
    <button class="navbar-toggler navbar-toggler-right nav-toggler bg-light" type="button" data-toggle="collapse" data-target="#navb">
      <i class="fa fa-bars" aria-hidden="true"></i>

    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navb">
      <div class="navbar col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="dropdown">
        <button type="button" class="btn bg-light dropdown-toggle drpdwn" data-toggle="dropdown">
          Country Quiz
        </button>
        <div class="dropdown-menu drpdwn-menu">
          <a class="dropdown-item active" href="{% url 'countryQuiz' 1 %}">Country</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </div>
    </div>
    <div class="navbar col-lg-6 col-md-12 col-sm-12 col-12 user_auth">
        <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link usr-link" href="{% url 'register_page' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link usr-link" href="{% url 'login_page' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
        </li>
    </ul>
    </div><!-- end of user_auth -->
  </div><!-- end of navbar-collapse -->
  </nav>
  <!-- end of Navbar -->
<br>

<div class="container">
  <div class="register bg-dark">
         <h1>Create New Account</h1>
         <p style="color: #8e44ad;">{{msg}}</p>
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
        <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <span class="input-text">Enter name</span>
          <input type="text" name="name" class="input" required>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <span class="input-text">Enter Email</span>
          <input type="email" name="email" class="input" required>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <span class="input-text">Type a username</span>
          <input type="text" name="uname" class="input" required>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <span class="input-text">Password</span>
          <input type="password" name="pass" id="password" class="input" required>
          <i class="fa fa-eye eye-pass" aria-hidden="true"></i>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <span class="input-text">Re-enter Password</span>
          <input type="password" name="rpass" id="Repassword" class="input" required>
          <i class="fa fa-eye eye-pass" aria-hidden="true"></i>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <span class="input-text">Check me out</span>
          <input type="checkbox" class="input-check" name="check">
          <span class="checkmark"></span>
      </div>
    </div><!-- end of row -->

      <br><br>
      <input type="submit" class="btn btn-submit btn-lg btn-light" name="submit" value="Create Account" style="margin-left: 8px;">
    </form>

  </div> <!-- end of register -->
</div><!-- end of container -->

<script type="text/javascript">
  $(".fa-eye").on("click", function() {
$(this).toggleClass("fa-eye-slash");
  var input = $("#password");
if (input.attr("type") === "text"){
  input.attr("type", "password");}
else{
  input.attr("type", "text"); }
});
</script>

<script type="text/javascript">
  $(".fa-eye").on("click", function() {
$(this).toggleClass("fa-eyedropper");
  var input = $("#Repassword");
if (input.attr("type") === "text"){
  input.attr("type", "password");}
else{
  input.attr("type", "text"); }
});
</script>

<script type="text/javascript">
  $(".input").focus(function(){
    $(".input-text").parent().addClass("focus");
    $(".input").addClass("focus");
  })
</script>

<script type="text/javascript">
  $('input:checkbox').change(function(){
    if($(this).is(":checked")) {
        $('.register').parent().addClass("color");
    } else {
        $('.register').parent().removeClass("color");
    }
});
</script>


</body>
</html>
