{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale-1">
	<title>QuizHub</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://use.fontawesome.com/0f5b686ba4.js"></script>
	<link rel="stylesheet" href="{% static 'QuizBox/css/countryQuiz.css' %}">
	<style type="text/css">
		body{margin: 0;padding: 0;display: border-box;background: #fff;background-blend-mode: multiply;}
		.inputGroup .success:after {width: 32px;height: 32px;content: '';border: 2px solid #D1D7DC;background-color: #2ecc71;background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");background-repeat: no-repeat;background-position: 2px 3px;border-radius: 50%;z-index: 2;position: absolute;right: 30px;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);cursor: pointer;-webkit-transition: all 200ms ease-in;transition: all 200ms ease-in;}
		.inputGroup .failed:after {width: 32px;height: 32px;content: '';border: 2px solid #D1D7DC;background-color: #e74c3c;background-image: url('{% static "QuizBox/images/error-svgrepo-com.svg" %}');background-repeat: no-repeat;background-position: center;border-radius: 50%;z-index: 3;position: absolute;right: 30px;top: 50%;-webkit-transform: translateY(-50%);transform: translateY(-50%);cursor: pointer;-webkit-transition: all 200ms ease-in;transition: all 200ms ease-in;}
	</style>
</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark justify-content-between header">
	  <!-- Brand -->
	  <div class=" brand">
	  	<h1><a class="navbar-brand" href="{% url 'index' %}" >Quiz <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
<span>Hub</span></a></h1>
	  </div>
	  <button class="navbar-toggler navbar-toggler-right nav-toggler bg-light" type="button" data-toggle="collapse" data-target="#navb">
	    <i class="fa fa-bars" aria-hidden="true"></i>

	  </button>

	  <!-- Links -->
	  <div class="collapse navbar-collapse" id="navb">
		  <div class="navbar col-lg-6 col-md-12 col-sm-12 col-12">
		  	  <div class="dropdown">
			  <button type="button" class="btn bg-light dropdown-toggle drpdwn" data-toggle="dropdown">
			    Country Quiz
			  </button>
			  <div class="dropdown-menu drpdwn-menu">
			    <a class="dropdown-item active" href="{% url 'countryQuiz' 1 %}">Country</a>
			    <a class="dropdown-item" href="#">Link 2</a>
			    <a class="dropdown-item" href="#">Link 3</a>
			  </div>
			</div>
		</div>
		<div class="navbar col-lg-6 col-md-12 col-sm-12 col-12 user_auth">
		  	<div class="dropdown">
			  <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
			    {{username}}
			  </button>
			  <div class="dropdown-menu dropdwn-menu">
			    <h5 class="dropdown-header">{{username}} Account</h5>
			    <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
			  </div><!-- end of dropdown-menu -->
			</div><!-- end of dropdown -->
		</div><!-- end of user_auth -->
	</div><!-- end of navbar-collapse -->
	</nav>
	<!-- end of Navbar -->

	<!-- quizbox -->

<div class="container-fluid quizbox">
	<div class="row">
			<div class="col-lg-8 col-md-12 col-sm-12 col-12 tab-1">
				<div class="dashboard bg-dark">
					<div class="row" style="margin: 0px;">
						<div class="col-lg-3 col-md-3 col-sm-6 col-6 dashboard-column">
							<p>Questions: &nbsp;&nbsp;&nbsp;&nbsp;{{total}}</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-6 dashboard-column">
							<p>Correct: &nbsp;&nbsp;&nbsp;&nbsp;{{correct}}</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-6 dashboard-column">
							<p>Wrong: &nbsp;&nbsp;&nbsp;&nbsp;{{wrong}}</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-6 dashboard-column">
							<p>Left: &nbsp;&nbsp;&nbsp;&nbsp;{{left}}</p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-6 dashboard-column">
							<p>Accuracy: &nbsp;&nbsp;&nbsp;&nbsp;{{percentage}} %</p>
						</div>
				</div><!-- end of row -->
				</div><!-- end of dashboard -->

				<div class="Qbox">
					<form action = "{% url 'nextCountryQuiz' quiz.id %}" method="post">
						{% csrf_token %}
						<div id="form-div">
						<h2>Q.<span name="id">{{quiz.id}}</span>: &nbsp;{{quiz.question}}</h2>
						<div class="inputGroup">
						    <input id="a" name="rbtn" type="radio" onclick="checkTheQuiz()" value="a"/>
						    <label for="a" class="label" id="label-a" name="label"><span>A</span>{{quiz.a}}</label>
						  </div>
						  <div class="inputGroup">
						    <input id="b" name="rbtn" type="radio" onclick="checkTheQuiz()" value="b"/>
						    <label for="b" class="label" id="label-b" name="label"><span>B</span>{{quiz.b}}</label>
						  </div>
						  <div class="inputGroup">
						    <input id="c" name="rbtn" type="radio" onclick="checkTheQuiz()" value="c"/>
						    <label for="c" class="label" id="label-c" name="label"><span>C</span>{{quiz.c}}</label>
						  </div>
						  <div class="inputGroup">
						    <input id="d" name="rbtn" type="radio" onclick="checkTheQuiz()" value="d"/>
						    <label for="d" class="label" id="label-d" name="label"><span>D</span>{{quiz.d}}</label>
						  </div>
						  </div><!-- end of form-div -->
							{% if quiz.id != 1 %}
							<a class="btn btn-dark btn-lg previous" href="javascript:void(0)" onclick="location.href='{% url 'previous' 'countryQuiz' quiz.id %}'">Previous</a>
							{% endif %}
						  <a class="btn btn-dark btn-lg rattempt" href="javascript:void(0)" onclick="location.href='{% url 'Reattempt' 'countryQuiz' %}'">Re-attempt</a>

						  {% if quiz.id < total %}
						  <a class="btn btn-dark btn-lg Qbtn next" id="next-btn" href="javascript:void(0)" onclick="location.href='{% url 'next' 'countryQuiz' quiz.id %}'" style="display: none;">Next</a>
						  <button class="btn btn-dark btn-lg Qbtn next"  id="form-btn" name="next" type="submit">Next</button>
							{% else %}
						  <button class="btn btn-dark btn-lg Qbtn next" name="next" type="submit">Complete Quiz</button>
						  {% endif %}
					</form>
					</div><!-- end of Qbox -->

			</div><!-- end of tab-1 -->

			<div class="col-lg-4 col-md-12 col-sm-12 col-12 tab-2 dashboard-div d-none d-lg-block">
				<div class="review">
					<div class="heading">
						<h2>QUESTION ANALYSIS</h2>
					</div>

					<div class="row Qblock">

						{% for i in list %}
							<!-- accessing 2d array -->
						<a  href ="javascript:void(0)" onclick="location.href='{% url 'countryQuiz' i.0 %}'" name="qbtn" value="{{i.0}}">
							<div class="col-lg-2">
								<div class="question-board" id="quiz_board-{{i.0}}" value="{{i.1}}" name="quiz_analysis">{{i.0}}</div>
							</div>
						</a>
						{% endfor %}

					</div><!-- end of row -->
				</div><!-- end of dashboard -->
			</div><!-- end of tab-2 -->
		</div><!-- end of row -->
	<!-- end of container -->
</div><!-- end of container-fluid -->

	<!-- end of quizbox -->
<script type="text/javascript">
// script to change the state of labels
var quiz_selected_value = "{{quiz_selected_value}}";
var quiz_answer = "{{quiz.answer}}";
if(quiz_selected_value != "none" && quiz_answer != "none" && quiz_selected_value != "None" && quiz_answer != "None"){ // this condition surpass the situation when result = left
	var answer_elem = document.getElementById("label-"+quiz_answer);
	var selected_elem = document.getElementById("label-"+quiz_selected_value);
	if(quiz_selected_value == quiz_answer){
		answer_elem.classList.add("success");
		document.getElementById("form-div").style.pointerEvents = "none"; // to disable clicking radios after one click
		document.getElementById("form-btn").style.display = "none";
		document.getElementById("next-btn").style.display = "block";
	}
	else{
		answer_elem.classList.add("success");
		selected_elem.classList.add("failed");
		document.getElementById("form-div").style.pointerEvents = "none"; // to disable clicking radios after one click
		document.getElementById("form-btn").style.display = "none";
		document.getElementById("next-btn").style.display = "block";
	}
}
else{
	console.log("variable are None: <br>quiz_selected_value= "+quiz_selected_value+"<br> quiz_answer = "+quiz_answer);

}

// script to change the color of quiz analysis divs
var quiz_board = document.getElementsByName("quiz_analysis");
for(let i=0;i<={{total}}+1;i++){
	var value = quiz_board[i].getAttribute("value");
	if(value == "correct"){
		quiz_board[i].classList.add("bg-success");
		quiz_board[i].style.color = "#fff";
		quiz_board[i].style.border = "none";
	}
	if(value == "wrong"){
		quiz_board[i].classList.add("bg-danger");
		quiz_board[i].style.color = "#fff";
		quiz_board[i].style.border = "none";
	}
	if(value == "left"){
		quiz_board[i].classList.add("bg-warning");
		quiz_board[i].style.color = "#fff";
		quiz_board[i].style.border = "none";
	}
	if(value == "None"){

	}
}




function checkTheQuiz(){
	var answer = "{{quiz.answer}}";
	var radios = document.getElementsByName("rbtn");

	for(let i=0;i<radios.length;i++){
		if(radios[i].checked){
			let ans = radios[i].getAttribute("id");

			if(ans == answer){
				console.log("correct answer");

				var element = document.getElementById("label-"+answer);

				element.classList.add("success");
			}
			else{
				console.log("wrong answer");
				var element1 = document.getElementById("label-"+answer);
				var element2 = document.getElementById("label-"+ans)


				element2.classList.add("failed");
				element1.classList.add("success");

			}
		}
	}

	/* for(let i=0;i<radois.length;i++){
		let ans = radios[i].getAttribute("id");
		if(ans == answer){
			continue;
		}
		radios[i].disabled = true;
	} */
	document.getElementById("form-div").style.pointerEvents = "none"; // to disable clicking radios after one click
}

</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
